.Header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: calc(100% - 90px);
  position: fixed;
  h1 {
    font-size: 2rem;
    margin-left: 20px;
    margin-right: auto;
  }
  .Buttons {
    margin-left: auto;
  }
  img {
    margin-left: 40px;
    width: 30px;
    height: 30px;
    &:hover {
      cursor: pointer;
    }
  }
}
.MainProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 80px;
  img {
    margin-left: 20px;
    margin-right: 30px;
    width: 100px;
    height: 100px;
    border-radius: 40%;
  }
}
